html,
body {
  height: auto;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}
.container .nav-bar {
  display: flex;
  justify-content: space-between;
}
.container .nav-bar a {
  text-decoration: none;
  margin-top: 5px;
  color: black;
}
.container .nav-bar .nav-title img {
  height: 100px;
  width: auto;
}
@media (max-width: 500px) {
  .container .nav-bar .nav-title img {
    height: 75px;
    width: auto;
  }
}
.container .nav-bar .action-buttons {
  margin-top: 17px;
}
.container .nav-bar .action-buttons .nav-log-in {
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px 35px;
  color: black;
}
@media (max-width: 500px) {
  .container .nav-bar .action-buttons .nav-log-in {
    padding: 5px 25px;
  }
}
.container .nav-bar .action-buttons .nav-sign-up {
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px 35px;
  color: white;
  background-color: black;
}
@media (max-width: 500px) {
  .container .nav-bar .action-buttons .nav-sign-up {
    padding: 5px 25px;
  }
}
.container .top {
  display: flex;
  justify-content: center;
  text-align: center;
}
.container .top-main {
  position: absolute;
  top: 35%;
  display: flex;
  flex-flow: column;
}
.container .top-main div:nth-child(1) img {
  width: 70%;
}
.container .top-main div:nth-child(2),
.container .top-main div:nth-child(3) {
  font-size: 1.3rem;
  padding-top: 5px;
}
.container .top-main a {
  text-decoration: none;
  margin: 5px auto;
  color: black;
}
.container .top-main .main-sign-up {
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px 35px;
  color: white;
  background-color: black;
  width: 20%;
}
.container .top-main .main-log-in {
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px 35px;
  color: black;
  width: 20%;
}
.container .top-main .main-trending {
  padding-top: 10px;
}
.container .intro {
  display: flex;
  justify-content: center;
  text-align: center;
}
.container .intro-main {
  position: absolute;
  top: 30%;
  display: flex;
  flex-flow: column;
  max-width: 30%;
}
.container .intro-main img {
  width: 100%;
}
@media (max-width: 800px) {
  .container .intro-main {
    max-width: 50%;
  }
}
@media (max-width: 500px) {
  .container .intro-main {
    top: 25%;
    max-width: 85%;
  }
}
.container .intro-main div:nth-child(1) {
  font-size: 4rem;
}
.container .intro-main div:nth-child(2) {
  font-size: 2rem;
  margin-top: 20px;
}
.container .intro-main p {
  line-height: 25px;
}
@media (max-width: 800px) {
  .container .intro-main p {
    font-size: 1.2rem;
  }
}
@media (max-width: 500px) {
  .container .intro-main p {
    font-size: 1.5rem;
    line-height: 30px;
  }
}
.container .showcase {
  display: flex;
  justify-content: center;
}
.container .showcase-main {
  position: absolute;
  top: 15%;
  display: flex;
  flex-flow: column;
  max-width: 80%;
}
.container .showcase-top div:nth-child(1) {
  font-size: 2.5rem;
}
.container .showcase-top p {
  max-width: 40%;
  line-height: 20px;
}
@media (max-width: 800px) {
  .container .showcase-top p {
    max-width: 100%;
    line-height: 27px;
    font-size: 1.3rem;
  }
}
.container .showcase-bottom {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  .container .showcase-bottom {
    justify-content: center;
  }
}
.container .showcase-bottom-joke {
  display: flex;
  flex-flow: column;
  width: 300px;
  height: 200px;
  border: 1px solid black;
  border-radius: 4px;
  justify-content: space-between;
  margin: 10px;
}
@media (max-width: 800px) {
  .container .showcase-bottom-joke {
    width: 80%;
    height: 300px;
  }
}
@media (max-width: 500px) {
  .container .showcase-bottom-joke {
    height: 225px;
  }
}
.container .showcase-bottom-joke img {
  padding: 10px;
  border-radius: 4px;
}
.container .showcase-bottom-joke-title {
  margin: 10px;
  align-self: center;
  font-size: 1.5rem;
}
@media (max-width: 800px) {
  .container .showcase-bottom-joke-title {
    font-size: 3rem;
  }
}
.container .showcase-bottom-joke-lower {
  display: flex;
  flex-flow: column;
}
.container .showcase-bottom-joke-lower div:nth-child(1) {
  margin-left: 10px;
}
.container .showcase-bottom-joke-lower div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  margin: 5px 10px 5px 10px;
}
.container .showcase-bottom-joke-lower div:nth-child(2) a {
  color: black;
}
@media (max-width: 800px) {
  .container .showcase-bottom-joke-lower div:nth-child(2) a {
    font-size: 1.5rem;
  }
}
.container .explain {
  display: flex;
  justify-content: center;
}
.container .explain a {
  text-decoration: none;
  color: black;
}
.container .explain-main {
  position: absolute;
  top: 20%;
  display: flex;
  flex-flow: row;
  max-width: 85%;
  height: 400px;
}
@media (max-width: 800px) {
  .container .explain-main {
    flex-flow: column-reverse;
    height: auto;
    top: 15%;
    max-width: 85%;
  }
}
@media (max-width: 500px) {
  .container .explain-main {
    top: 12%;
  }
}
.container .explain-joke {
  display: flex;
  flex-flow: column;
  width: 50%;
  height: 85%;
  border: 1px solid black;
  border-radius: 4px;
  justify-content: space-between;
  padding: 15px;
  margin: 20px;
}
@media (max-width: 800px) {
  .container .explain-joke {
    width: 90%;
    height: 350px;
  }
}
@media (max-width: 500px) {
  .container .explain-joke {
    margin: 0px;
  }
}
.container .explain-joke img {
  padding: 10px;
  border-radius: 4px;
}
.container .explain-joke-top {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.container .explain-joke-top .follow-btn {
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px 45px;
  color: black;
}
.container .explain-joke-top .follow {
  padding-top: 10px;
}
.container .explain-joke-top-user {
  display: flex;
}
.container .explain-joke-top-user p {
  width: 70%;
}
.container .explain-joke-title {
  font-size: 3.5rem;
  text-align: center;
}
.container .explain-joke-punch-line {
  font-size: 2rem;
  text-align: center;
}
.container .explain-joke-low {
  display: flex;
  justify-content: space-between;
}
.container .explain-follow {
  display: flex;
  flex-flow: column;
  width: 50%;
  justify-content: space-evenly;
  padding: 15px;
  margin: 20px;
}
@media (max-width: 800px) {
  .container .explain-follow {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .container .explain-follow {
    margin: 0px;
    font-size: 1.3rem;
  }
}
.container .explain-follow-title {
  font-size: 3.5rem;
  width: 90%;
}
@media (max-width: 500px) {
  .container .explain-follow-title {
    font-size: 2.5rem;
  }
}
.container .explain-follow-directions {
  font-size: 1.2rem;
}
@media (max-width: 800px) {
  .container .explain-follow-directions {
    font-size: 1.4rem;
  }
}
.container .bottom {
  display: flex;
  justify-content: center;
  text-align: center;
}
.container .bottom-main {
  position: absolute;
  top: 35%;
  display: flex;
  flex-flow: column;
}
.container .bottom-main div:nth-child(1) {
  font-size: 4rem;
  width: 99%;
}
.container .bottom-main div:nth-child(2) {
  font-size: 1.3rem;
  padding: 20px;
}
.container .bottom-main a {
  text-decoration: none;
  margin: 5px auto;
}
.container .bottom-main-sign-up {
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px 35px;
  color: white;
  background-color: black;
  width: 20%;
}
.container .bottom-main-log-in {
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px 35px;
  color: black;
  width: 20%;
}
.container .bottom-main-trending {
  padding-top: 10px;
  color: black;
}
.container .hidden {
  display: none;
}
