html,
body {
  height: auto;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
header {
  display: flex;
  justify-content: center;
}
.page {
  height: 100%;
}
.container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 90%;
  top: 10px;
  z-index: 1;
}
@media (max-width: 800px) {
  .nav-bar {
    width: 99%;
  }
}
.nav-bar a {
  text-decoration: none;
  color: black;
}
.nav-bar .nav-title img {
  height: 100px;
  width: auto;
}
@media (max-width: 500px) {
  .nav-bar .nav-title img {
    height: 90px;
    width: auto;
  }
}
.nav-bar .action-buttons {
  margin: auto 0 auto auto;
  font-weight: bold;
}
.nav-bar .action-buttons .nav-log-in {
  border-radius: 20px;
  padding: 10px 35px;
  color: black;
}
@media (max-width: 800px) {
  .nav-bar .action-buttons .nav-log-in {
    padding: 10px 25px;
  }
}
@media (max-width: 500px) {
  .nav-bar .action-buttons .nav-log-in {
    padding: 5px 25px;
  }
}
.nav-bar .action-buttons .nav-sign-up {
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 35px;
  color: white;
  background-color: black;
}
@media (max-width: 800px) {
  .nav-bar .action-buttons .nav-sign-up {
    padding: 10px 25px;
  }
}
@media (max-width: 500px) {
  .nav-bar .action-buttons .nav-sign-up {
    padding: 5px 25px;
  }
}
.top {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-flow: column;
}
.top div:nth-child(1) img:nth-child(1) {
  width: 10%;
}
@media (max-width: 800px) {
  .top div:nth-child(1) img:nth-child(1) {
    width: 15%;
  }
}
@media (max-width: 500px) {
  .top div:nth-child(1) img:nth-child(1) {
    width: 25%;
  }
}
.top div:nth-child(1) img:nth-child(2) {
  width: 10%;
}
@media (max-width: 800px) {
  .top div:nth-child(1) img:nth-child(2) {
    width: 15%;
  }
}
@media (max-width: 500px) {
  .top div:nth-child(1) img:nth-child(2) {
    width: 25%;
  }
}
.top div:nth-child(1) img:nth-child(3) {
  width: 15%;
}
@media (max-width: 800px) {
  .top div:nth-child(1) img:nth-child(3) {
    width: 22%;
  }
}
@media (max-width: 500px) {
  .top div:nth-child(1) img:nth-child(3) {
    width: 35%;
  }
}
.top div:nth-child(2),
.top div:nth-child(3) {
  font-size: 1.3rem;
  padding-top: 5px;
}
.top a {
  text-decoration: none;
  margin: 5px auto;
  color: black;
}
.top .top-sign-up {
  border-radius: 20px;
  padding: 10px 35px;
  color: white;
  background-color: black;
  width: 20%;
  font-weight: bold;
}
@media (max-width: 500px) {
  .top .top-sign-up {
    width: 40%;
  }
}
.top .top-log-in {
  border-radius: 20px;
  padding: 10px 35px;
  color: black;
  width: 20%;
  font-weight: bold;
}
@media (max-width: 500px) {
  .top .top-log-in {
    width: 40%;
  }
}
.top .top-trending {
  padding-top: 10px;
}
.intro {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .intro {
    top: 45%;
    left: 10%;
    max-width: 85%;
  }
}
.intro div:nth-child(1) {
  width: 100%;
}
.intro div:nth-child(1) img:nth-child(1) {
  width: 25%;
}
.intro div:nth-child(1) img:nth-child(2) {
  width: 30%;
}
.intro div:nth-child(1) img:nth-child(3) {
  width: 35%;
}
.intro div:nth-child(2) {
  font-size: 1.8rem;
  margin-top: 20px;
}
.intro p {
  line-height: 25px;
}
@media (max-width: 800px) {
  .intro p {
    font-size: 1.2rem;
  }
}
@media (max-width: 500px) {
  .intro p {
    font-size: 1.2rem;
    line-height: 30px;
  }
}
.intro .next-button {
  border-radius: 20px;
  padding: 10px 35px;
  color: white;
  background-color: #01E677;
  text-decoration: none;
  width: 15%;
  font-weight: bold;
  margin: 10px auto 0 auto;
}
.showcase {
  display: flex;
  flex-flow: column;
  margin: 50px auto;
  justify-content: center;
}
@media (max-width: 800px) {
  .showcase {
    height: auto;
    width: 80%;
    padding-top: 120px;
  }
}
.showcase-top div:nth-child(1) {
  font-size: 2.5rem;
  margin-left: 130px;
}
@media (max-width: 800px) {
  .showcase-top div:nth-child(1) {
    margin: auto;
  }
}
.showcase-top p {
  max-width: 40%;
  line-height: 20px;
  margin-left: 130px;
}
@media (max-width: 800px) {
  .showcase-top p {
    margin: 20px auto 20px auto;
    max-width: 100%;
    line-height: 27px;
    font-size: 1.3rem;
  }
}
.showcase-bottom {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 800px) {
  .showcase-bottom {
    justify-content: center;
  }
}
.showcase-bottom-joke {
  display: flex;
  flex-flow: column;
  width: 300px;
  height: 200px;
  border-radius: 20px;
  justify-content: space-between;
  margin: 10px;
  box-shadow: 0px 10px 15px grey;
}
@media (max-width: 800px) {
  .showcase-bottom-joke {
    width: 80%;
    height: 300px;
  }
}
@media (max-width: 500px) {
  .showcase-bottom-joke {
    height: 225px;
  }
}
.showcase-bottom-joke img {
  padding: 10px;
  border-radius: 20px;
}
.showcase-bottom-joke-title {
  margin: 10px;
  align-self: center;
  font-size: 1.5rem;
  cursor: pointer;
}
@media (max-width: 800px) {
  .showcase-bottom-joke-title {
    font-size: 3rem;
  }
}
@media (max-width: 500px) {
  .showcase-bottom-joke-title {
    font-size: 1.5rem;
  }
}
.showcase-bottom-joke-punch-line {
  margin: 10px;
  text-align: center;
  display: none;
}
.showcase-bottom-joke-lower {
  display: flex;
  flex-flow: column;
  font-size: 0.8rem;
}
.showcase-bottom-joke-lower div:nth-child(1) {
  margin-left: 10px;
}
.showcase-bottom-joke-lower div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  margin: 5px 10px 5px 10px;
}
.showcase-bottom-joke-lower div:nth-child(2) a {
  color: black;
}
@media (max-width: 800px) {
  .showcase-bottom-joke-lower div:nth-child(2) a {
    font-size: 1.2rem;
    margin-left: 8px;
  }
}
.showcase .next-button {
  border-radius: 20px;
  padding: 10px 35px;
  color: white;
  background-color: #01E677;
  text-decoration: none;
  width: 10%;
  font-weight: bold;
  margin: 10px auto 0 auto;
  text-align: center;
}
.explain {
  display: flex;
  flex-flow: row;
  max-width: 85%;
  justify-content: center;
  margin: 0 auto -210px auto;
}
@media (max-width: 800px) {
  .explain {
    flex-flow: column-reverse;
    height: auto;
    padding-top: 120px;
    margin: 0 auto 20px auto;
  }
}
@media (max-width: 500px) {
  .explain {
    padding-top: 65px;
  }
}
.explain a {
  text-decoration: none;
  color: black;
}
.explain-joke {
  display: flex;
  flex-flow: column;
  width: 45%;
  height: 45%;
  border-radius: 20px;
  justify-content: space-between;
  padding: 15px;
  margin: auto;
  box-shadow: 0px 10px 15px grey;
}
@media (max-width: 800px) {
  .explain-joke {
    width: 90%;
    height: 350px;
  }
}
@media (max-width: 500px) {
  .explain-joke {
    margin: 0px;
  }
}
.explain-joke img {
  padding: 10px;
  border-radius: 20px;
}
.explain-joke-top {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.explain-joke-top .follow-btn {
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px 45px;
  color: white;
  background-color: #0599FD;
  font-weight: bold;
}
.explain-joke-top .follow {
  padding-top: 10px;
}
.explain-joke-top-user {
  display: flex;
}
.explain-joke-top-user p {
  width: 70%;
}
.explain-joke-title {
  font-size: 3.5rem;
  text-align: center;
}
.explain-joke-punch-line {
  font-size: 2rem;
  text-align: center;
}
.explain-joke-low {
  display: flex;
  justify-content: space-between;
}
.explain-follow {
  display: flex;
  flex-flow: column;
  width: 45%;
  height: 45%;
  justify-content: space-evenly;
  padding: 15px;
  margin: auto;
}
@media (max-width: 800px) {
  .explain-follow {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .explain-follow {
    margin-top: 15px;
    margin-bottom: 0px;
  }
}
.explain-follow-title {
  font-size: 3.5rem;
  width: 90%;
}
@media (max-width: 500px) {
  .explain-follow-title {
    font-size: 2.5rem;
  }
}
.explain-follow-directions {
  font-size: 1.2rem;
}
@media (max-width: 800px) {
  .explain-follow-directions {
    margin: 20px auto 20px auto;
    font-size: 1.4rem;
  }
}
.bottom {
  display: flex;
  flex-flow: column;
  text-align: center;
}
@media (max-width: 800px) {
  .bottom {
    left: 0%;
  }
}
.bottom div:nth-child(1) {
  display: flex;
  flex-flow: column;
  margin: auto;
}
.bottom div:nth-child(1) div:nth-child(1) {
  font-size: 4rem;
}
@media (max-width: 800px) {
  .bottom div:nth-child(1) div:nth-child(1) {
    margin: 20px;
  }
}
@media (max-width: 500px) {
  .bottom div:nth-child(1) div:nth-child(1) {
    font-size: 3rem;
  }
}
.bottom div:nth-child(1) div:nth-child(2) {
  font-size: 1.3rem;
  padding: 20px;
}
.bottom a {
  text-decoration: none;
  margin: 5px auto;
  width: 15%;
}
@media (max-width: 800px) {
  .bottom a {
    width: 30%;
  }
}
@media (max-width: 500px) {
  .bottom a {
    width: 45%;
  }
}
.bottom-sign-up {
  border-radius: 20px;
  padding: 10px 35px;
  color: white;
  background-color: black;
  border: 1px solid black;
  font-weight: bold;
}
.bottom-log-in {
  border-radius: 20px;
  padding: 10px 35px;
  color: black;
  font-weight: bold;
}
.bottom-trending {
  padding-top: 10px;
  color: black;
}
.next-button {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding: 10px 35px;
  color: white;
  background-color: #01E677;
  text-decoration: none;
  width: 10%;
  font-weight: bold;
  margin: 0 auto 0 auto;
}
.joke-open {
  height: 400px;
  transform: scale(1, 1);
  transition: 1s;
  font-size: 1.3rem;
}
.joke-open .showcase-bottom-joke-punch-line {
  display: block;
}
.joke-close {
  height: 200px;
  transform: scale(1, 1);
  transition: 1s;
}
.joke-close .showcase-bottom-joke-punch-line {
  display: none;
}
.top-section {
  width: 70%;
  margin: 100px auto 20px auto;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 800px) {
  .top-section {
    margin: 100px auto auto auto;
    width: 90%;
  }
}
.top-section .box {
  padding: 40px;
}
.top-section .box .box-title {
  font-size: 1.4rem;
  padding-bottom: 10px;
  font-weight: bold;
}
.bottom-section {
  width: 70%;
  margin: auto;
  display: flex;
  box-shadow: 0px 10px 15px grey;
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 800px) {
  .bottom-section {
    width: 90%;
  }
}
.bottom-section .box {
  padding: 40px;
}
.bottom-section .box .box-title {
  font-size: 1.4rem;
  padding-bottom: 10px;
  font-weight: bold;
}
.tabs {
  width: 100%;
}
.tabs .tabs-items {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
@media (max-width: 800px) {
  .tabs .tabs-items {
    padding-top: 40px;
    padding-bottom: 120px;
  }
}
@media (max-width: 500px) {
  .tabs .tabs-items {
    padding-bottom: 0px;
  }
}
.tabs .tabs-item {
  display: none;
  width: 75%;
}
@media (max-width: 800px) {
  .tabs .tabs-item {
    width: 100%;
  }
}
.tabs .tabs-item .tabs-item-title {
  font-size: 1.6rem;
  font-weight: bold;
  padding-bottom: 10px;
}
.tabs .tabs-item .tabs-item-description {
  font-size: 1.2rem;
  line-height: 40px;
}
@media (max-width: 500px) {
  .tabs .tabs-item .tabs-item-description {
    font-size: 1rem;
    line-height: 25px;
  }
}
.tabs .tabs-item .tabs-item-description img {
  width: 19%;
}
@media (max-width: 800px) {
  .tabs .tabs-item .tabs-item-description img {
    width: 25%;
  }
}
@media (max-width: 500px) {
  .tabs .tabs-item .tabs-item-description img {
    width: 28%;
  }
}
.tabs .tabs-item-selected {
  display: block;
}
.tabs .tabs-links {
  display: flex;
  background-color: white;
}
.tabs .tabs-link {
  padding: 10px 25px;
  margin: auto 0;
  font-size: 1.3rem;
  background-color: white;
  color: black;
  cursor: pointer;
  text-align: center;
  width: 100%;
  border-radius: 20px;
}
@media (max-width: 800px) {
  .tabs .tabs-link {
    margin: 0;
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  .tabs .tabs-link {
    font-size: 0.8rem;
  }
}
.tabs .tabs-link:hover {
  background-color: #01E677;
  color: white;
}
.tabs .tabs-link-selected {
  background-color: #0599FD;
  color: white;
}
.tabs .tabs-link-selected:hover {
  background-color: white;
  color: black;
}
.tab {
  color: black;
}
.side-menu ul {
  padding: 0px 10px;
}
.side-menu ul li {
  list-style-type: none;
  font-size: 1.4rem;
  padding: 15px 0;
}
.side-menu {
  z-index: 2;
  position: fixed;
  top: 280px;
  left: 20px;
  width: 0px;
  height: 100vh;
}
